@import url('../Fonts/tf2build.css');
@import url('../Fonts/tf2.css');

#Container {
    background-color: #0b0b0b;
    border-radius: 5px;
    width: 800px;
    height: 185px;
    z-index: 1;
    /* animation: fadeInAnimation ease 1.5s; */
}


p { 
    font-family: "tf2-build";
    color: white;
}

button {
    background-color: #CF7336;
    font-family: tf2;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

button:hover {
    background-color: rgb(150, 60, 0);
}

#Title {
    font-size: 45px;
    margin-bottom: -10px;
    margin-top: 10px;
}

.About { 
    font-size: 20px;
}